
body {
	margin: 0;
  font-family: 'Roboto', sans-serif;
}

.loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
/*	background-image: url("loading.gif");
	background-position: center;
	background-repeat: no-repeat;*/
	background-color: white;
}

.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hero-container {
	display: flex;
  flex: 1 0 auto;
  position: relative;
	height: 100vh;
	width: 100vw;
  /*More subtle parallax scroll speed*/
  transform: translateZ(-5px) scale(6);
  /*transform: translateZ(-1px) scale(2);*/
  z-index: -1;

	/*background-image: url("hero_background.jpg");*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("hero_background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-content {
	font-family: 'Oxygen Mono', monospace;
	color: white;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%);
	/*padding: 50px;*/
}

.hero-content h1 {
	/*font-family: 'Roboto', sans-serif;*/
}

.hero-content p {
	max-width: 600px;
	font-size: 20px;
}

.content-container {
  background-color: white;
  display: block;
  position: relative;
  z-index: 1;
}


section.first {
	height: 100vh;
	padding: 50px;
}












